.showExercise__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: 50px;
}

.muscle__card {
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  height: 450px
}

.muscle__card img {
  border-radius: 20px;
  height: 60%;
}

.muscle__card__espec {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.muscle__card__espec span {
  color: hsl(235, 21%, 21%);
  font-weight: bolder;
}