.Galery {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
img{
  transition: .3s ease-in-out;
}

.Galery img:hover{
  opacity: 0.4
}

i{
  pointer-events: none;
  opacity: 0.4
}