.myAccount {
  width: 80vw;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 50px;
}

.navbar ul {
  display: flex;
}

.navbar ul svg {
  height: 20px;
}

.navbar li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar :global(.active) {
  background-color: hsl(235, 21%, 21%);
  color: hsl(235, 21%, 21%);
  border-radius: 2px;
}