.contentPhotoPost {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  height: 55vh;
}

.form {
  width: 30rem;
  background-color: hsl(235, 21%, 31%);
  padding: 30px;
  height: auto;
  color: #fff;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  text-align: center;
}

.form label {
  text-align: left;
  margin: 4px 0;
}

.form input {
  outline: none;
  border: none;
  height: 2rem;
  border-radius: 4px;
  background-color: hsl(235, 21%, 21%);
  color: #fff;
  font-size: 1.2rem;
}

.form input:focus {
  color: #fff;
}

.form input[type="file"] {
  background-color: transparent;
}

.form button {
  display: inline-block;
  width: 30%;
  align-self: center;
  height: 2rem;
  color: #fff;
  background-color: hsl(200, 50%, 50%);
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 50px;
  font-weight: bolder;
  transition: 0.3s ease-in-out;
}

.form button:hover {
  background-color: #fff;
  color: hsl(200, 50%, 50%);
}

img {
  border-radius: .4;
  width: 25rem;
  height: 35rem;
}