@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(235, 21%, 11%);
  font-family: "Roboto", sans-serif;
}

li {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  font-weight: bolder;
}

li svg {
  height: 30px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 80vw;
}

.animeRigth {
  transform: translateX(100px);
  opacity: 0;
  animation: animeRigth 1s forwards;
}

.animeDown {
  transform: translateY(-90px);
  opacity: 0;
  animation: animeDown 1.3s forwards;
}

@keyframes animeRigth {
  to {
    transform: initial;
    opacity: initial;
  }
}

@keyframes animeDown {
  to {
    transform: initial;
    opacity: initial;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: auto;
  min-height: 60vh;
  background-color: hsl(235, 21%, 21%);
  padding: 20px;
}

.container-Form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

a {
  text-decoration: none;
}